footer{
    background: linear-gradient(to bottom, #241414, #3a0f0f, #000000);
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
  

  
 
  

